/* General page body */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Fakt", "Segoe UI", sans-serif, Helvetica, Arial;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  color: var(--main-text);
}

.nav-link.active {
  background-color: var(--main-text) !important;
  color: var(--main-grey) !important;
}

a,
u {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

#header {
  /*background: #C2B28F; - all things retro */
  background: #fff;
  border-bottom: 1px solid #e6e9eb;
  height: 90px;
  /* height: 44px; - original */
  left: 0;
  margin-bottom: 24px;
  padding: 14px 26px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
}

.row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.dropIn-UI {
  background-color: var(--secondary-text);
  background: var(--bg-color) !important;
}

#dropin-container {
}

.config-UI {
  background-color: var(--main-grey);
  /* border-top-left-radius: 20px;
	border-bottom-left-radius: 20px; */
  box-shadow: 1px 1px 5px 1px rgb(207, 207, 207);
}

/* .tab-content {
  overflow: scroll;
  height: 100vh;
} */

@font-face {
  font-family: "Fakt";
  src: url("./fonts/Fakt-Normal.otf") format("opentype");
}

@font-face {
  font-family: "Fakt";
  font-weight: bold;
  src: url("./fonts/Fakt-SemiBold.otf") format("opentype");
}

.config-Title {
  font-family: "Fakt", sans-serif;
  font-weight: 400;
  font-weight: bold;
}

.tab-options {
  color: var(--main-text);
  font-size: 10px;
  margin-top: 1.5rem;
}

.config-content-panel {
  padding: 1rem;
}

.titleFonts {
  font-family: var(--main-font);
  font-weight: 600;
  font-weight: bold;
  font-size: 20px;
}

.textFonts {
  font-family: var(--main-font);
  font-size: 12px;
}

/* Buttons */

.button {
  /*background: #272324; - All things retro*/
  background: #00112c;
  border: 0;
  border-radius: 6px;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  padding: 15px;
  text-align: center;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 100%;
}

.button:hover {
  background: #1c3045;
  box-shadow: 0 3px 4px rgba(0, 15, 45, 0.2);
}

.logo-box {
  /*float:left;
	text-align: center;
	width: 50%;
	margin-bottom: 20px; - All things retro */
  align-items: center;
}

.logo-image {
  height: 64px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16px;
  /*width: 64px;*/
}

.logo-title {
  font-family: "Oleo Script", cursive;
  font-size: 30px;
}

/* end General page body */

/* Index page */

.main-container {
  margin: auto;
  max-width: 1048px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.integration-list {
  display: flex;
  max-width: 1048px;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .integration-list {
    margin-left: -8px;
    margin-bottom: -8px;
    margin-right: -8px;
  }
}

@media (min-width: 1024px) {
  .integration-list {
    margin-left: -16px;
    margin-bottom: -16px;
    margin-right: -16px;
  }
}

.integration-list-item {
  background: #f7f8f9;
  border-radius: 6px;
  flex: 1 1 0;
  margin: 4px;
  min-width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f7f8f9;
}

.integration-list-item:hover {
  box-shadow: 0 16px 24px 0 #e5eaef;
  text-decoration: none;
  border: 1px solid #06f;
}

@media (min-width: 768px) {
  .integration-list-item {
    margin: 16px;
    min-width: 25%;
  }
}

.integration-list-item-link {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .integration-list-item-link {
    padding: 28px;
  }
}

.integration-list-item-title {
  text-align: center;
  color: #00112c;
  font-size: 1em;
  font-weight: 700;
  margin: 10px 0 0;
}

@media (min-width: 768px) {
  .integration-list-item-title {
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 6px;
    margin-right: 0;
  }
}

.integration-list-item-subtitle {
  color: #00112c;
  font-size: 0.67em;
  font-weight: 700;
  margin: 10px 0 0;
}

@media (min-width: 768px) {
  .integration-list-item-subtitle {
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 6px;
    margin-right: 0;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3 {
  padding-top: 24px;
}

.info {
  margin-top: 120px;
  color: #00112c;
  text-align: center;
}

/* end Index page */

/* Cart preview page */

.shopping-cart {
  float: right;
}

@media (min-width: 768px) {
  .shopping-cart {
    padding: 3px 0 0;
  }
}

.shopping-cart-link {
  display: inline-block;
  position: relative;
}

.order-summary-list-list-item.first-item {
  border-top: 1px solid #e6e9eb;
}

.order-summary-list-list-item {
  border-bottom: 1px solid #e6e9eb;
  display: flex;
  height: 117px;
}

.order-summary-list-list-item-image {
  height: 64px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16px;
  width: auto;
}

.order-summary-list-list-item-title {
  font-weight: 700;
  margin: auto auto auto 0;
}

.order-summary-list-list-item-price {
  color: #687282;
  margin: auto 16px;
  text-align: right;
  width: 80px;
}

@media (min-width: 768px) {
  .order-summary-list-list-item-price {
    margin: auto 24px;
  }
}

.cart {
  text-align: center;
  margin-top: 80px;
  padding-top: 24px;
}

.cart-footer {
  font-weight: 700;
  margin-top: 17px;
  text-align: right;
  margin-bottom: 17px;
}

@media (min-width: 768px) {
  .cart-footer {
    margin-top: 24px;
  }
}

.cart-footer .button {
  margin-top: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .cart-footer .button {
    margin-top: 0;
    width: 288px;
  }
}

.cart-footer-amount {
  margin-left: 16px;
  margin-right: 24px;
}

/* save button start*/
.saveStyle {
  color: #fff;
  justify-content: center;
  background: var(--main-green) !important;
  border-radius: 6px !important;
  border: none;
  width: 160px;
  height: 30px;
}

.saveStyle:focus {
  outline-color: #36bf52;
}
/* save button end*/

/* resest button start */
.resetStyle {
  color: #fff;
  justify-content: center;
  background: #00112c !important;
  border-radius: 6px !important;
  border: none;
  width: 110px;
  height: 30px;
}

.resetStyle:focus {
  outline-color: #36bf52;
}
/* reset button end */

.country-selector {
  align-items: center;
  background: #fff;
  border: 1px solid #b9c4c9;
  border-radius: 6px;
  display: flex;
  height: 40px;
  margin: 0;
  outline: none;
  padding: 0 0 0 12px;
  position: absolute;
  font-size: var(--small-text);
  width: 10px;
  bottom: 0px;
}

@media (min-width: 768px) {
  .country-selector {
    width: 200px;
  }
}

.country-selector__flag {
  display: inline-flex;
  margin-right: 10px;
  width: 20px;
}

.country-selector__select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 1;
  height: 100%;
  margin: 0 -12px 0 -42px;
  outline: none;
  padding-left: 42px;
  width: 180px;
}

.country-selector:focus {
  box-shadow: none;
}

.country-selector:hover {
  border-color: #99a3ad;
}

.country-selector .dropdown-icon {
  margin-right: 12px;
  margin-top: 3px;
}

/* font selector styling */
.font-selector {
  align-items: center;
  background: #fff;
  border: 1px solid #b9c4c9;
  border-radius: 6px;
  display: flex;
  height: 40px;
  margin: auto 0 auto auto;
  outline: none;
  padding: 0 0 0 12px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

@media (min-width: 768px) {
  .font-selector {
    width: 200px;
  }
}

.font-selector__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 1;
  position: relative;
  height: 100%;
  margin: 0 -12px 0 -42px;
  outline: none;
  padding-left: 42px;
  width: 180px;
}

.font-selector:focus {
  box-shadow: none;
}

.font-selector:hover {
  border-color: #99a3ad;
}

.font-selector .dropdown-icon {
  margin-right: 12px;
  margin-top: 3px;
}

/* font styling end */

/* text align selector styling */
.text-alignment {
  /* background: #fff;
  border: 1px solid #b9c4c9; */
  border-radius: 0px;
  margin: auto 0 auto auto;
  padding: 0 0 0 12px;
  width: 100%;
  bottom: 0px;
}

.alignbutton:focus {
  box-shadow: inset 0 0 0 1px #dce0e5;
  background-color: var(--align-selected);
}

.text-alignment .btn {
  border: transparent;
  height: 30px;
  padding: 0 21px;
  box-shadow: inset 0 0 0 1px #dce0e5;
}

.align__btngroup {
  margin-top: 4px;
  align-items: center;
  display: flex;
  justify-content: left;
}

.align__btngroup > .alignbutton {
  border-radius: 0px;
}

.align__btngroup > .alignbutton:first-of-type {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.align__btngroup > .alignbutton:last-of-type {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.italicImage {
  width: 15px;
  height: 15px;
}

.boldImage {
  width: 15px;
  height: 15px;
}

/* Test card selector*/
.card-selector {
  align-items: center;
  background: var(--main-grey);
  border: 1px solid #b9c4c9;
  border-radius: 6px;
  display: flex;
  height: 40px;
  margin-left: 20%;
  outline: none;
  padding: 0 0 0 12px;
  position: relative;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (min-width: 768px) {
  .card-selector {
    width: 200px;
  }
}

.card-selector__brand {
  display: inline-flex;
  margin-right: 10px;
  width: 20px;
}

.card-selector__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 1;
  font-size: 1em;
  height: 100%;
  /*margin:0 -12px 0 -42px;*/
  outline: none;
  padding-left: 42px;
  width: 180px;
}

.card-selector:focus {
  box-shadow: none;
}

.card-selector:hover {
  border-color: #99a3ad;
}

.card-selector .dropdown-icon {
  margin-right: 12px;
  margin-top: 3px;
}

/* end of Cart preview page */

/* Payment page */

#payment-page .container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

#payment-page .checkout {
  margin-top: 100px;
  background: var(--bg-color) !important;
  margin-bottom: 100px;
}

#payment-page .settings {
  margin-top: 100px;
}

@media screen and (max-width: 1076px) {
  #payment-page .container {
    display: flex;
    flex-direction: column;
  }

  .payment {
    align-self: center;
  }
}

.checkout-component-container {
  border: none;
  padding: 0;
  margin: 8px 0;
  width: 100%;
  height: 100%;
}

.p-5 {
  overflow: scroll;
  height: 110vh;
}

/* Adyen Components */
.payment {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* end Payments page */

/* Status page */

.status-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  margin: 100px 0 126px;
  text-align: center;
}

.status .status-image {
  display: block;
  height: 100px;
  margin: 16px auto 0;
}

.status .status-image-thank-you {
  height: 66px;
}

.status .status-message {
  margin: 8px 0 24px;
}

.status .button {
  max-width: 236px;
}

@media (min-width: 768px) {
  .status .button {
    max-width: 200px;
  }
}

/* end Status page */

/* Test card container */

#test-cards-btn {
  width: 20rem;
  margin-left: 2%;
  padding: 0;
  height: 0%;
  background-color: rgb(6, 6, 46);
  color: var(--main-grey);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.test-cards-display {
  height: 10%;
  background-color: rgb(6, 6, 46);
}

.collapseText {
  color: var(--main-grey);
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
}

.testCardBtn {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 10px;
}

/* End of card container */

/* Virtual Card CSS */
.card {
  width: 290px;
  height: 172px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  background: rgb(6, 6, 46);
  margin: 1rem auto;
}

.card__part {
  top: 0;
  position: absolute;
  z-index: 1000;
  left: 0;
  display: inline-block;
  width: 290px;
  height: 172px;
  background-image: linear-gradient(
    to right bottom,
    #0abf53,
    #009a78,
    #007183,
    #00496f,
    #00112c
  );
  /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;

  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card__front {
  padding: 18px;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}

.card__black-line {
  margin-top: 5px;
  height: 38px;
  background-color: #303030;
}

.card__logo {
  height: 40px;
}

.card__front-logo {
  position: absolute;
  top: 18px;
  right: 18px;
}

.card__square {
  border-radius: 5px;
  height: 40px;
}

.card_numer {
  display: block;
  width: 100%;
  word-spacing: 4px;
  font-size: 17px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 9px;
}

.card__space-75 {
  width: 75%;
  float: left;
  padding-left: 10px;
}

.card__space-25 {
  width: 25%;
  float: left;
}

.card__label {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

.card__info {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card__back-content {
  padding: 15px 15px 0;
}

.card__secret--last {
  color: #303030;
  text-align: right;
  margin: 0;
  font-size: 14px;
}

.card__secret {
  padding: 5px 12px;
  background-color: #fff;
  position: relative;
}

.card__secret:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 4px);
  width: calc(100% - 42px);
  border-radius: 4px;
  background: repeating-linear-gradient(
    45deg,
    #ededed,
    #ededed 5px,
    #f9f9f9 5px,
    #f9f9f9 10px
  );
}

.card__back-logo {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.card__back-square {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.card-visited .card__front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

/* end of virtual card css */

/* :root {
		--back-rotate : rotateY(0deg);
		--back-tran: rotateY(0deg);
		--front-rotate: rotateY(180deg);
		--front-tran: rotateY(180deg);
	} */

:root {
  --background-color: #00112c;
  --font-options: "Segoe UI", sans-serif, Helvetica, Arial;
  --dropin-width: 500px;
  --dropin-font: 17px;
  --button-edges: 10px;
  --body-edges: 0px;
  --border-off: 1px solid #e6e9eb;
  --active-background: #f7f8f9;
  --bg-color: #ffffff;
  --dropin-color: #f7f8f9;
  --dropin-tab-color: #ffffff;
  --main-green: #0abf53;
  --main-grey: #f3f5f9;
  --main-text: #00112c;
  --secondary-text: #ffffff;
  --main-font: "Fakt", sans-serif;
  --text-align: left;
  --text-bold: normal;
  --text-italic: normal;
  --small-text: 12px;
  --payButton-width: 100%;
  --payments-spacing: 0px 0;
  --paymentselected-margin: 8px 0;
  --selectedBody-edges: 12px;
  --topedges-left: 12px;
  --topedges-right: 12px;
  --bottomedges-left: 12px;
  --bottomedges-right: 12px;
  --selectedBorder-color: #e6e9eb;
  --collapsedBorder-color: #e6e9eb;
  --text-color: #00112c;
  --payText-color: #ffffff;
  --selectedBorder-width: 1px;
}

.card-visited .card__back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.card:active .card__front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.card:active .card__back {
  width: 320px;
  height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

/* .adyen-checkout__button {
  background: var(--background-color) !important;
  border-radius: var(--button-edges) !important;
} */

.adyen-checkout__button.adyen-checkout__button--pay {
  width: var(--payButton-width) !important;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  background: var(--background-color) !important;
  border-radius: var(--button-edges) !important;
}

.form-group {
  width: 9rem;
  /* Full-width */
  height: 35px;
  /* Specified height */
}

.adyen-checkout__payment-method {
  width: var(--dropin-width) !important;
  font-size: var(--dropin-font) !important;
  font-family: var(--font-options) !important;
  text-align: var(--text-align) !important;
  border-radius: var(--body-edges) !important;
  border: var(--border-off) !important;
  background: var(--dropin-tab-color) !important;
  font-weight: var(--text-bold) !important;
  margin: var(--payments-spacing) !important;
  border-color: var(--collapsedBorder-color) !important;
}

.adyen-checkout__payment-method--selected + .adyen-checkout__payment-method,
.adyen-checkout__payment-method:first-child {
  border-top-left-radius: var(--topedges-left) !important;
  border-top-right-radius: var(--topedges-right) !important;
}

.adyen-checkout__payment-method--next-selected,
.adyen-checkout__payment-method:last-child {
  border-bottom-left-radius: var(--bottomedges-left) !important;
  border-bottom-right-radius: var(--bottomedges-right) !important;
}

.adyen-checkout__dropin {
  text-align: var(--text-align) !important;
}

.adyen-checkout__payment-method--selected {
  background: var(--dropin-color) !important;
  margin: var(--paymentselected-margin) !important;
  border-radius: var(--selectedBody-edges) !important;
  border-color: var(--selectedBorder-color) !important;
  border-width: var(--selectedBorder-width) !important;
}

.adyen-checkout__payment-method__radio {
  /* Radio button in payment method header */
}

.adyen-checkout__payment-method__name {
  font-weight: var(--text-bold) !important;
  font-style: var(--text-italic) !important;
  color: var(--text-color) !important;
}

.adyen-checkout__label__text {
  font-weight: var(--text-bold) !important;
  font-style: var(--text-italic) !important;
  color: var(--text-color) !important;
}

.adyen-checkout__checkbox__label {
  font-weight: var(--text-bold) !important;
  font-style: var(--text-italic) !important;
  color: var(--text-color) !important;
}

.adyen-checkout__button__text {
  font-weight: var(--text-bold) !important;
  font-style: var(--text-italic) !important;
  color: var(--payText-color) !important;
}

.adyen-checkout__card__brands img {
  border-radius: 3px;
  height: 16px;
  width: 24px;
  left: 0;
  position: absolute;
  top: 0;
}

#textColorPick,
#bgColorPick,
#dropinColorPick,
#dropinTabColorPick,
#buttonColorPick,
#activeBorderColorPick,
#bannerColorPick,
#payTextColorPick,
#collapsedBorderColorPick {
  border-radius: 20px;
  height: 25px;
  width: 25px;
  border: 1px solid #36bf52;
  background-color: #36bf52;
  outline: none;
  -webkit-appearance: none;
}

#textColorPick::-webkit-color-swatch-wrapper,
#bgColorPick::-webkit-color-swatch-wrapper,
#dropinColorPick::-webkit-color-swatch-wrapper,
#dropinTabColorPick::-webkit-color-swatch-wrapper,
#buttonColorPick::-webkit-color-swatch-wrapper,
#activeBorderColorPick::-webkit-color-swatch-wrapper,
#payTextColorPick::-webkit-color-swatch-wrapper,
#bannerColorPick::-webkit-color-swatch-wrapper,
#collapsedBorderColorPick::-webkit-color-swatch-wrapper {
  padding: 0;
}
#textColorPick::-webkit-color-swatch,
#bgColorPick::-webkit-color-swatch,
#dropinColorPick::-webkit-color-swatch,
#dropinTabColorPick::-webkit-color-swatch,
#buttonColorPick::-webkit-color-swatch,
#activeBorderColorPick::-webkit-color-swatch,
#payTextColorPick::-webkit-color-swatch,
#payTextColorPick::-webkit-color-swatch,
#bannerColorPick::-webkit-color-swatch,
#collapsedBorderColorPick::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--main-green);
  border-color: var(--main-green);
}

/* Fixing card copy buttons */
.col {
  padding: 0%;
}

.col-6,
.col-3 {
  padding: 0%;
}

/* Targets selectors or drop-downs */
.country-selector,
.font-selector,
.text-alignment {
  width: 9rem;
  margin-right: 1rem;
}

.custom-switch {
  padding: 0%;
}

.form-control-file,
.form-control-range {
  accent-color: #36bf52 !important;
  /* width: 50%; */
}
/* 
:not(pre)>code[class*=language-], pre[class*=language-] {
    background: #00112c !important;
} */
.config {
  padding-left: 0px;
  right: 20px;
  position: relative;
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background: #00112c;
  color: #078f3e;
}
.string {
  color: white;
}
.number {
  color: #0abf53;
}
.boolean {
  color: #0088ff;
}
.null {
  color: magenta;
}
.key {
  color: #a5afbd;
}

.form-control-range::before {
  background-color: red;
  color: red;
  background: red;
}

.panel-collapse .collapse .show {
  width: 15rem !important;
}

.copyBtnsStyle {
  font-family: var(--main-font);
  background: var(--main-text);
  border-radius: 10px;
  color: var(--main-grey);
  font-size: 0.9rem;
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.copyText {
  margin: auto;
}

.btn {
  color: var(--main-grey);
}
.btn:hover {
  color: #687282;
}

@media (max-width: 500px) {
  /* screen width (or the .grid) needs to be at least 500px wide, in order to display the .sidebar, because min-width of 200px is exactly 40% of 500px, so display it when 500px and more, but hide it when less */
  .config-UI {
    display: none;
  }
  .dropIn-UI {
    width: 100%;
    display: flex;
    margin: 0%;
    padding: 0;
  }
}

/* modal styling for link sharing */
.mt-100 {
  margin-top: 100px;
}

/* .modal {
  background-image: linear-gradient(rgb(35, 79, 71) 0%, rgb(36, 121, 106) 100.2%)
} */

.modal-title {
  font-weight: 900;
}

.modal-content {
  border-radius: 13px;
}

.modal-body {
  color: #3b3b3b;
}

.img-thumbnail {
  border-radius: 33px;
  width: 61px;
  height: 61px;
}

.fab:before {
  position: relative;
  top: 13px;
}

.smd {
  width: 200px;
  font-size: small;
  text-align: center;
}

.modal-footer {
  display: block;
}

.ur {
  border: none;
  background-color: #f7f8f9;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.cpy {
  border: none;
  background-color: var(--main-green);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

button.focus,
button:focus {
  outline: 0;
  box-shadow: none !important;
}

.ur.focus,
.ur:focus {
  outline: 0;
  box-shadow: none !important;
}

.message {
  font-size: 11px;
  color: #ee5535;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  border-top: 1px solid #dce0e5;
  padding: 24px 0;
  text-align: left;
  font-size: 14px;
  background: white;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  /* padding-top: 15px; */
  text-align: left;
}

.footer.footer--fixed-header {
  margin: 24px auto;
  z-index: 98;
  position: relative;
  background-color: #fff;
}

/* Responsiveness */

@media only screen and (max-width: 900px) {
  .config-UI {
    display: none;
  }
  .payment,
  .p5 {
    flex-direction: row;
    width: fit-content;
  }
}

/* Banner */
.banner {
  height: 64px;
  display: none;
}

.undoHidden {
  display: block;
}

.logo {
  height: 100%;
  margin: auto;
}
