
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}" />

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
    </style>

    <title>Checkout Create</title>
  </head>
  <body>

    <title>Confirmation</title>

    <div class="status-container">
        <div class="status">
            <img src="{{ url_for('static', filename='img/success.svg') }}" class="status-image"/>
            <img src="{{ url_for('static', filename='img/thank-you.svg') }}" class="status-image-thank-you"/>
            <p class="status-message">Your order has been successfully placed.</p>
            <a class="button" href="/">Return Home</a>
        </div>
    </div>
</body>
</html>

