<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}" />

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
    </style>

    <title>Checkout Demo</title>
  </head>
  <body>
    <header id="header">
      <div class="logo-box">
      <a href="{{ url_for('home') }}">
        <img
          class="logo-image"
          src="{{ url_for('static', filename='img/mystore-logo.svg') }}"
          alt="BARB logo"
        />
      </a>
      <!--<a class="logo-title">All Things Retro</a>-->
    </div>
    </header>

    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
